#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    border: 1px solid black;
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;

}

#inputs{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

#nums{
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    justify-content: center;
}

#ops{
    display: flex;
    flex-direction: column;

}

.op{
    text-align: center;
    margin-bottom: 6px;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
}